.edu_main{
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 35px;
}

.edu_main_head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.edu_main_head h1{
    display: flex;
    color: white;
}



.heaing_line{
    margin-top: 15px;
    width: 65vw;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.edu_main_head span{
    color: yellow;
}
.edu_card{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: white; */
    margin-top: 3vw;
    padding: 1.5vw;
}

