
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');


.nav_show{
    display: none;
}

.hamberger_hide_data{
    display: none;
}

.header{
    font-family: 'Scheherazade New', serif;
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7vw;
}

.elm{
    width: 40vw;
    height: 30vw;
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(211, 195, 195); */
    /* padding: 5vw; */
} 

.elm .head1{
    font-weight: 200;
    font-size: 1.3vw;
    word-spacing: 3px;
}
.elm .head{
    font-weight: 700;
    /* margin-top: 3px; */
    font-size: 3vw;
}

.elm .para{
    /* margin-top: 15px; */
    font-size: 1.5vw;
    font-weight: 500;
}


   
.btn button{
    margin-top: 3vw;
    width: 13vw;
    height: 2.6vw;
    border-radius: 1.3vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 88, 88);
    font-size: 1.3vw;
    color: white;
}   
button:hover{
    background-color: rgb(255, 255, 0);
    color: rgb(2, 2, 2);
}

span{
    margin-left: 1vw;
    font-size: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .hambergerdat{
    display: none;
}
.closeBtn{
    display: none;
}

 
@media screen and (max-width:1080px) {
    .nav_show{
        display: block;
    }
    .header{
        height: 90vw;
    }
    .hamberger_show_data{
        color: rgb(241, 241, 241);
        width: 50%;
        /* height: 50%; */
        position: fixed;
        top: 100px;
        left: 0px;
        z-index: 999;
        background-color: rgb(255, 255, 255);
        transition: height 0.3s;
    }

    .hamberger_hide_data{
        position: fixed;
        top: 100px;
        right: 0;
        z-index: 999;
        background-color: rgb(255, 255, 255);
    }

    .header .hambergerBtn{
        position: fixed;
        display: block;
        font-size: 50px;
        color: rgb(180, 34, 34);
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 9999999999999;
    }
    .btn{
        border-radius: 10px;
        width: 250px;
        height: 30px;
    }
    .btn button{
        border-radius: 10px;
        width: 25vw;
        height: 7vw;
        font-size: 1vw;
        /* background-color: white; */
     }

     .btn_btn{
         font-size: 2vw;
    }
    .closeBtn{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        color: rgb(255, 255, 255);
        z-index: 9999;
        font-size: 50px;
    }
    .header .elm{
        width: 60vw;
        height: 50vw;
    }
    .elm .head1{
        font-weight: 200;
        font-size: 2vw;
        word-spacing: 3px;
    }
    .elm .head{
        font-weight: 700;
        /* margin-top: 3px; */
        font-size: 5vw;
    }
    
    .elm .para{
        /* margin-top: 15px; */
        font-size: 3vw;
        font-weight: 500;
    }
    .btn button{
        font-size: 4vw;
    }
    .btn button span{
        font-size: 4vw;
    }
} 

@media screen and (max-width:500px) {
    .header{
        height: 200vw;
    }
    .elm .head1{
        font-weight: 200;
        font-size: 3vw;
        word-spacing: 3px;
    }
    .elm .head{
        font-weight: 700;
        /* margin-top: 3px; */
        font-size: 6vw;
    }
    
    .elm .para{
        /* margin-top: 15px; */
        font-size: 4vw;
        font-weight: 300;
        line-height: 5.5vw;
    }
    .btn button{
        width: auto;
        padding: 20px;
        border-radius: 20px;
    } 
    .btn button span{
        margin-left: 2vw;
    } 
}



@media screen and (max-width: 300px) {
    .header .elm{
        margin-top: 15vw;
        width: 60vw;
        height: 80vw;
    }
    .elm .head1{
        font-size: 30px;
    }

    .elm .head{
        line-height: 38px;
        font-size: 40px;
    }
    .header{
        height: 230vw;
    }

    .elm .para{
        margin-top: 30px;
        font-size: 20px;
        letter-spacing: 1.8px;
        line-height: 7vw;
        font-weight: 300;
    }

    .btn{
        margin-top: 40px;
    }
} 