.home{
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(202, 14, 14);
}
.nav{
    width: 25%;
    height: 47vw;
    position: fixed;
    top: 0;
    left: 0 ;
    background-color: rgba(235, 1, 1, 0.26)
    
}

.side_Com{
    width: calc(100% - 25%) ;
    height: auto;
    background-color: rgba(196, 185, 36, 0.267);
    margin-left: 25%;
}



@media screen and (max-width: 1080px) {
    .nav{
        display: none;
    }
    .side_Com{
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
}

/* @media screen and (max-width:500px) {
    .side_Com{
        width: 100%;
    }
}
@media screen and (max-width:400px) {
    .side_Com{
        width: 100%;
    }
} */




