.Card{
    position: relative;
    width: 30vw;
    height: 19vw;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 1.5vw;
    margin-top: 1.5vw;
    /* border: 0.2px solid white; */
}

.port_image{
    position: relative;
    width: 30vw;
    height: 15vw;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    transition: 1s ease-in-out;
}
 .port_image:hover + .cardHov_btn{
    width: 30vw;
    height: 19vw;
    animation-delay: initial;
    scale: 2;
    animation-delay: 2s;
    z-index: 99;
    border: 2px solid black; 
}  



.port_image:hover + .cardHov_btn{
    width: 30vw;
    height: 19vw;
    background: -webkit-linear-gradient(to right, #ffe000, #799f0c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffe100b9, #789f0cc2);
    border-radius: 10px;
    border: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    /* cursor: pointer; */
}
.cardHov_btn{
    width: 30vw;
    height: 4vw;
    background-color: rgb(20, 20, 20);
    border-bottom-left-radius: 9px ;
    border-bottom-right-radius: 9px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardHov_btn button{
    border: none;
    /* box-shadow: 7px 3px 7px solid rgb(255, 255, 255); */
    border-radius: 6px;
    background-color: rgb(58, 57, 57);
    color: white;
    width: 10vw;
    height: 2.7vw;
    z-index: 9999;
    cursor: pointer;
    border: 1px inset rgb(0, 0, 0);
    margin: 2.5vw 2vw 1vw 2vw ;
}


.btn{
    margin-top: 2vw;
    width: 12vw;
    height: 4vw;
    background-color: rgb(107, 44, 44);
}


@media screen and (max-width:1080px) {
    .port_image{
        width: 30vw;
        height: 40vw;
    }
}
@media screen and (max-width:600px) {
    .Card{
        width: 100%;
    }
    .port_image{
        width: 60vw;
        height: 30vw;
    }
    
    .port_image:hover + .cardHov_btn{
        margin-left: 0vw;
        width: 61.5vw;
        height: 190px;
        background-image: linear-gradient(rgba(255, 255, 0, 0.657),rgba(0, 128, 0, 0.568));
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 10px;
    }
}


@media screen and (max-width:500px) {
    .Card{
        width: 100%;
        position: relative;
    }

    .port_image{
        margin-top: 1vw;
        width: 90vw;
        height: 38vw;
    }
    .port_image:hover + .cardHov_btn{
        /* margin-right: 1vw !important; */
        margin: 0 0 0 0 ;
        width: 90vw;
        height: 190px;
        /* background-image: linear-gradient(rgba(255, 255, 0, 0.657),rgba(0, 128, 0, 0.568)); */
        border-radius: 10px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
      
    }
}
 

@media screen and (max-width:400px) {
    .port_image{
        width: 90vw;
        height: 45vw;
    }
    .port_image:hover + .cardHov_btn{
        /* margin-right: 1vw !important; */
        margin: 0 0 0 0;
        width: 90vw;
        height: 190px;
        /* background-image: linear-gradient(rgba(255, 255, 0, 0.657),rgba(0, 128, 0, 0.568)); */
        border-radius: 10px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
      
    }
}
