.port_main{
    width: auto;
    height: auto;
    background-color: rgb(15, 15, 15);
    padding: 30px;
    /* margin-bottom: 20px; */
}

.port_head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.port_heading{
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 65vw;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

.port_head h1{
    font-size: 3vw;
    display: flex;
    align-items: center;
    color: white;
}

h1 span {
    font-size: 3vw;
    color: yellow;
}  

.port_elm{
    width: auto;
    height: auto;
    /* margin: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: violet; */
}

@media screen and (max-width: 1080px) {
    .port_head h1{
        font-size: 7vw;
    }

    .port_head h1 span{
        font-size: 7vw;
    }
}