.cont_div{
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 30px;
}

.contact_div{
    width: auto;
    height: auto;
    background-color: black;
}

.cont_head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont_head h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.cont_head .port_heading{
    margin-top: 1.3vw;
    width: 65vw;
    height: 2px;
    background-color: white;
}

.cont_elm{
    margin-top: 7vw;
    margin-bottom: 10vw;
    padding: 2vw;
    width: auto;    
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blanchedalmond; */
}
.cont_details{
    color: white;
}

.cont_details .heading{
    display: flex;
    align-items: center;
    color: yellow;
    margin-top: 15px;
}

.heading .headin{
    font-size: 2vw;
    font-weight: 300;
}

.headin{
    color: white;
}

.input_from{
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.from_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    padding: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 1px 1px 1px white;
    width: 20rem;
    outline: none;
}

textarea{
    font-size: 15px;
    padding: 10px;
    height: auto;
    width: 20rem;
    resize: vertical;
    outline: none;
    border: none;
}

.from_cont .Cont_btn{
    margin-top: 2vw;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    outline: none;
    border: none;
    box-shadow: 1px 1px  1px solid black;
    text-transform: capitalize;
    color: white;
    background-color: rgb(65, 64, 64);
    font-size: 1.2vw;
    padding: 7px 30px 7px;
}
.from_cont .Cont_btn:hover{
    background-color: rgba(215, 235, 247, 0.952);
    color: rgb(0, 0, 0);
}

.Cont_btn span{
    font-size: 1.2vw;
}





@media screen and (max-width:998px) {
    .cont_elm{
        display: flex;
        flex-direction: column;
    }

    .input_from{
        margin-top: 100px;
    }
    .cont_head h1{
        font-size: 7vw;
    }
    .cont_head h1 span{
        font-size: 7vw;
    }
}

@media screen and (max-width:600px) {
    .cont_elm{
        margin-left: 10px;
    }
    .from_cont .Cont_btn{
        margin-top: 5vw;
        padding: 7px 30px 7px;
        font-size: 4vw;
    }
    .Cont_btn span{
        font-size: 4vw;
    }
    .contact_div{
        height: 170vw;
    }
    .cont_details .headin{
        font-size: 4vw;
    }
}

@media screen and (max-width:350px) {
    input{
        width: 200px;
    }
    textarea{
        width: 12.7rem;
    }
} 