
.elm{
   width: 23vh;
   height: 13vw;
   background-color: rgb(131, 131, 131);
   margin: 20px;
   display: flex;
   /* flex-wrap: wrap; */
  border-radius: 1.3vw;

}

.Card_elm{
  padding: 1vw;
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}

.head{
    font-size: 2vw;
    font-weight: 300;
    color: yellow;
}

.para{
    padding-top: 2vw;
    word-spacing: inherit;
    flex-direction: column-reverse;
    color: white;
}



 /* @media screen and (max-width:998px) {
    .elm{
        width: 200px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}   */
/* 
@media screen and (max-width:600px) {
    .elm{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:500px) {
    .elm{
        width: 170px;
        height: 100px;
    }
} */